@import "tailwindcss";
.box_graphe{
  @apply  rounded-md bg-white shadow p-10 h-[300px] w-[100%] xl:w-[450px] relative;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
body {
  margin: 0;
}